<!--我的预约-->
<wxs module="order" src="../../../filter/order.wxs"></wxs>

<!-- tab切组件 -->
  <tabs tabs="{{tabs}}" my-tabs="tabs" bind:changeTabs="tabChange"></tabs>

<view class="monthSearch" wx:if="{{tabIndex == 1}}">
    <text bindtap='getMonthChange' class="{{mIndex == index?'mAction':''}}" wx:for="{{month}}" wx:key="{{index}}" data-value="{{item.id}}" data-index="{{index}}">{{item.name}}</text>
</view>
<view class="listContent {{tabIndex == 1?'addSearch':''}}">
  
  <view class="order-module" wx:for="{{orderList}}" wx:key="{{index}}" >
    <view class="order-Info">
      <view class="orderImg">
        <image lazy-load='true' src="{{item.StorePhoto}}"></image>
      </view>
      <view class="orderText">
        <view class="order-name">
          <text>{{item.StoreName}}</text>
          <text class="orderStaut {{item.AppointmentStatus == 1?'orderfail':item.AppointmentStatus == 3?'orderLose':'orderType'}}">{{item.StatusMemo!=''?item.StatusMemo:order.getOrder(item.AppointmentStatus)}}</text>
        </view>
        <text class="order-content">预约时间：{{item.ServiceDateTIme}}</text>
        
        <view class="order-content">
          <text>服务技师：{{item.BUName?item.BUName:'未选择技师'}}</text>
        </view>
        <view class="order-content">
        服务项目：<text wx:for="{{item.ProjectList}}" wx:for-item="porItem" wx:key="{{index}}">{{porItem.ProName}}</text>
      </view>
      </view>
    </view>
    
    <view class="btnView">
      <view class="cancelTime">
       <text wx:if="{{item.AppointmentStatus == 1}}">取消时间: {{item.ChanceTime}}</text>
      </view>
      <button wx:if="{{item.AppointmentStatus == 0}}" bindtap="cancleOrder" data-orderid="{{item.OrderId}}">取消预约</button>
      <button wx:else bindtap="orderAgain" class="orderAgain" data-order="{{item}}">再次预约</button>
      <!-- EntpId=2&StoreId=2&StoreName=K.MI Salon 鼓楼店 -->
    </view>
  </view>

  <!-- 上拉加载数据动画组件 -->
  <load wx:if="{{isLoading}}"></load>
  
  <!-- 数据加载完毕提示组件 -->
  <over wx:if="{{listEnd}}"></over>

  
  <view wx:if="{{noData}}" class="noData">
    <image src="https://www.mmcmy.com/commonimg/ADImage/commen/noContent.png"></image>
  </view>
</view>


