/* tab选项卡公共样式 */
.tab-item{
  flex:1;
  text-align: center;
  height:96rpx;
  line-height: 96rpx;
}
.tab-item text{
  display:inline-block;
  height:96rpx;
  box-sizing: border-box;
}
.active text{
  border-bottom:solid 2px #ffd100;
}