<!--我的消息-->
<view class="tabs">
  <view wx:for="{{tabs}}" wx:key="{{index}}" bindtap="tabChange" data-index="{{index}}" class="tab-item {{index==tabIndex?'active':''}}">
    <text class="{{index == 1 && newmsg > 0?'newphoto':''}}">{{item}}</text>
  </view>
</view>

<view class="listContent">
  <view wx:if="{{tabIndex == 1}}" bindtap='toPhotos' class="msg-module" wx:for="{{replyData}}" wx:key="{{index}}"  data-photosId="{{item.PhotosId}}" data-customerId="{{item.CustomerId}}">
    <view class="msg-info">
      <image mode="widthFix" src="{{item.imagUrl}}"></image>
      <view class="msg-text">
        <text class="name">{{item.NickName}}</text>
        <text class="dateTime">{{item.CommentDateTime}}</text>
      </view>
    </view>
    <view class="msg-content">
      {{item.Comment}}
    </view>
    <view class="msg-mine">
      我：{{item.MyComment}}
    </view>
    <!-- <view class="theme"># 今天换了个新发型，理发小哥贼帅！特能侃，哈哈哈哈^_^ #</view> -->
  </view>

  <view wx:if="{{tabIndex == 0}}" bindtap='toPhotos' class="msg-module" wx:for="{{commentData}}" wx:key="{{index}}"  data-photosId="{{item.PhotosId}}" data-CommentId="{{item.CommentId}}">
    <view class="msg-info">
      <image mode="widthFix" src="{{item.imagUrl}}"></image>
      <view class="msg-text">
        <text class="name">{{item.NickName}}</text>
        <text class="dateTime">{{item.CommentDateTime}}</text>
      </view>
    </view>
    <view class="msg-content">
      {{item.Comment}}
    </view>
    <view class="msg-mine">
      <view>我：{{item.Description == ''?'~无主题~':item.Description}}</view>  
      <view wx:if="{{item.PhotoAffix.length > 0}}" class="miniPhoto">
        <image mode="aspectFill" src="{{item.PhotoAffix[0].PhotoPath_mini}}"></image>
      </view>
    </view>
  </view>
</view>