<!-- 签到页 -->
<view>
    <!-- 签到操作区 -->
    <view style="height:340rpx">
      <view class="tabs-main">
        <view class="tabs-sign">
          <view class="tabs-btn {{item.date <= signInfo.Signdays?'signAction':''}}" wx:for="{{signDate}}" wx:key="{{index}}">
            <image class="sign-gift" mode="widthFix" wx:if="{{item.gift}}" src="../images/ico-gift.png"></image>
            <text wx:else class="sign-date">{{item.date}}</text>
          </view>
        </view>
        <!-- 签到内容 -->
        <form report-submit bindsubmit="getSign">
          <view class="sign-content">
            <view>
              <text>我的虫豆</text>
              <view class="cost">
                <text>{{signInfo.Points}}</text>
              </view>
              <view class="sign-day">
                <navigator>积分明细</navigator><text> | 连续签到</text><text class="day-num">{{signInfo.Signdays?signInfo.Signdays:0}}</text><text>天</text>
              </view>
            </view>
            <button class="btn-qd" wx:if="{{signInfo.SignStatus}}">已领取虫豆</button>
            <button class="btn-qd" form-type="submit" wx:else>签到领虫豆</button>
            <image class="ico-qd" mode='widthFix' src="../images/qd-02.png"></image>
          </view>
        </form>
        
      </view>
    </view>
    
    <!-- 积分有理 -->
    <!-- <view class="convert">
      <navigator>
        <view class="dh-text">
          <view>K.mi 沙龙店288元头发护理1次</view>
          <text class="dh-textCost">500积分</text>
        </view>
      </navigator>
      <image class="dh-pics" mode="widthFix" src="../imgs/qdyl-pic.png"></image>
      <image class="yl-icon" mode="widthFix" src="../imgs/qdyl-icon.png"></image>
    </view> -->
    <!-- 新手任务 -->
    <view class="newTask">
      <text class="title">新手任务</text>
      <navigator wx:for="{{tasks}}" wx:key="{{index}}" class="tasks {{item.url != ''?'todo':''}}" url="{{item.url}}" open-type="{{item.openType=='switchTab'?'switchTab':'navigate'}}">
        <view class="taskName">{{item.name}}</view>
        <view class="addCost"><image mode="widthFix" src="/pages/imgs/ico-jf.png"></image><text>+{{item.cost}}积分</text></view>
        <view wx:if="{{item.stauts}}" class="btn-register">已完成</view>
      </navigator>      
    </view>
</view>