@import '/pages/baseWxss/fonts/din.wxss';
.tabs-main{
  height:130rpx;
  background-color:#3e4155;
  padding:0 25rpx;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.tabs-sign{
  display: flex;
  justify-content: space-between;
}
.tabs-btn {
  background-color:#525466;
  width:92rpx; height:70rpx;
  color:#868894;
  padding:20rpx 0 0;
  border-top-right-radius:10rpx;
  border-top-left-radius:10rpx;
  margin:0 4rpx;
}
.tabs-btn:first-child{
  margin-left:0;
}
.tabs-btn:last-child{
  margin-right:0;
}
.tabs-btn text{
  display: block;
  text-align: center;
  font-size:24rpx;
  font-weight: lighter;
}
.tabs-btn .sign-date{
  font-size:28rpx;
  font-weight: 700;
  margin-top:5rpx;
}
.sign-content{
  background-color:#ffcd01;
  height:230rpx;
  border-bottom-left-radius: 10rpx;
  border-bottom-right-radius: 10rpx;
}
.signAction{
  background-color:#ffcd01;
  color:#212121;
}
.sign-content{
  box-sizing: border-box;
  font-size:28rpx;
  color:#212121;
    padding:35rpx 30rpx 30rpx;
    position: relative;
    margin-top: -1rpx;
}
.cost{
  font-size:70rpx;
  font-family: 'DIN';
  margin-top:10rpx;
}
.sign-day{
  position:absolute;
  bottom:20rpx;
}
.sign-day navigator{
  display: inline-block;
}
.sign-gift{
  width:36rpx;
  height:36rpx;
  margin:5rpx auto 0;
  display: block;
}
.day-num{
  color:#f9434d;
  display: inline-block;
  font-size:36rpx;
  font-weight: 700;
  width:38rpx;
  height:38rpx;
  line-height: 38rpx;
  text-align:center;
  border-radius: 50%;
  margin:0 10rpx;
}
.btn-qd{
  height:70rpx;
  line-height:70rpx;
  font-size:28rpx;
  color:#644f1b;
  border-radius: 40rpx;
  position:absolute;
  right:35rpx;top:85rpx;
  background: -webkit-linear-gradient(left top, #ffefc4 , #f3dda0);
  background: -o-linear-gradient(left top, #ffefc4 , #f3dda0);
  background: -moz-linear-gradient(left top, #ffefc4 , #f3dda0);
  background: linear-gradient(left top, #ffefc4 , #f3dda0);
  -webkit-box-shadow: 2px 3px 5px 1px #f4bd02;
  -o-box-shadow: 2px 3px 5px 1px #f4bd02;
  -moz-box-shadow: 2px 3px 5px 1px #f4bd02;
  box-shadow: 2px 3px 5px 1px #f4bd02;
}
.btn-qd image{
  width:55rpx;
  height:70rpx;
  position:absolute;
  top:0;
}
.convert{
  background-color:#FFF;
  border-top:solid 1px #eee;
  border-bottom:solid 1px #eee;
  margin-top:240rpx;
  display: flex;
  height:228rpx;
  padding:0 25rpx;
  position:relative;
}
.dh-pics{
  width:320rpx;height:200rpx;
  float:right;
  margin:25rpx 0
}
.dh-text{
  margin-right:40rpx;
  margin-top:70rpx;
}
.ico-qd{
  width:30rpx;
  height:65rpx;
  position:absolute;
  right:12rpx;bottom:10rpx;
}
.yl-icon{
  position:absolute;
  width:152rpx;
  top:-12rpx;
  left:30rpx;
}
.dh-textCost{
  color:#f9434d;
  display: inline-block;
  margin-top:14rpx;
  position:relative;
}
   .dh-textCost::after{
     content: '';
     display:block;
    width: 18rpx;
    height: 18rpx;
    background: none;
    border-color:#f85b5a;
    border-width: 0 0 2px 2px;
    border-style: solid;
    transform:rotateZ(-135deg);
    position:absolute;
    right:-40rpx;
    top:14rpx;
   } 
   .dh-textCost::before{
     content: '';
     display:block;
    width: 18rpx;
    height: 18rpx;
    background: none;
    border-color:#fdcad0;
    border-width: 0 0 2px 2px;
    border-style: solid;
    transform:rotateZ(-135deg);
    position:absolute;
    right:-25rpx;
    top:14rpx;
   } 
   .newTask{
     background-color:#fff;
     margin-top:25rpx;
     border-top:solid 1px #eee;
     border-bottom:solid 1px #eee;
     padding:25rpx 25rpx 0 25rpx;
   }
   .newTask .title{
     font-size:34rpx;
   }
   .tasks{
      padding:30rpx 0 30rpx 0;
      position:relative;
      border-bottom:solid 1px #eee;
   }
   .todo::after{
      content: '';
      display:block;
      width: 20rpx;
      height: 20rpx;
      background: none;
      border-color:#ccc;
      border-width: 0 0 2px 2px;
      border-style: solid;
      transform:rotateZ(-135deg);
      position:absolute;
      right:15rpx;
      top:66rpx;
   }
   .taskName{
     font-size:32rpx;
   }
   .taskName::before{
     content: '●';
     color:#e0e0e0;
     margin-right:15rpx;
   }
   .addCost{
     padding-left:50rpx;
      margin-top:15rpx;
   }
   .addCost image{
     width:23rpx;
     height:22rpx;
   }
   .addCost text{
     color:#f9434d;
   }
   .btn-register{
     position:absolute;
     right:5rpx;
     top:40rpx;
     font-size:28rpx;
     padding:10rpx;
     border-radius: 48rpx;
     width:128rpx;
     text-align: center;
     height:48rpx;line-height: 48rpx;
     color:#999;
   }

