page{
  background-color: #ffbb03;
}
.banner{
  width: 750rpx;
  height: 1172rpx;
}
.info-container{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.title-wrap{
  width: 100%;
  height: 161rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  left: 0;
  top: 78rpx; */
  margin-top: 78rpx;
}
.pageTitle{
  width: 100%;
  height: 100%;
}
.sub-title-wrap{
  width: 390rpx;
  height: 78rpx;
  /* position: absolute;
  top: 582rpx;
  left: 50%;
  margin-left: -297rpx; */
  margin: 350rpx auto 0;
}
.subTitle{
  width: 100%;
  height: 100%;
}
.info-wrap{
  width: 640rpx;
  /* position: absolute;
  top: 687rpx;
  left: 50%;
  margin-left: -320rpx; */
  margin: 20rpx auto 0;
}
.input-field{
  height: 88rpx;
  background-color: #ffffff;
  margin-bottom: 14rpx;
  border-radius: 8rpx;
  position: relative;
}
.bind-store-wrap{
  width: 100%;
  margin-top: 390rpx;
  padding: 0 33rpx;
  margin-bottom: 75rpx;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.back-btn,.choose-store{
  height: 82rpx;
  box-sizing: border-box;
  font-size: 32rpx;
  text-align: center;
  border-radius: 41rpx;
  line-height: 80rpx;
}
.back-btn{
  width: 240rpx;
  border: 1rpx solid transparent;
  background-color: #ffffff;
  color: #ff5a3a;
}
.choose-store{
  width: 424rpx;
  background-color: #ff5a3a;
  border: 1rpx solid #ffd100;
  color: #ffffff;
}
.input-field input,.input-field picker,.bind-store-wrap picker{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 8rpx;
  font-size: 28rpx;
  padding: 0 26rpx;
  box-sizing: border-box;
}
.initial-input{
  color: #bbbbbb;
}
.binded{
  color: #09bb07;
}
.getcode{
  font-size: 24rpx;
  line-height: 1;
  padding: 13rpx 22rpx;
  background-color: #ffbb03;
  position: absolute;
  right: 23rpx;
  top: 19rpx;
  border-radius: 25rpx;
  z-index: 9;
}
.picker{
  width: 100%;
  height: 88rpx;
  line-height: 88rpx;
  position: relative;
}
.picker:after{
  content: '';
  display:block;
  width: 18rpx;
  height: 18rpx;
  background: none;
  border-color:#ccc;
  border-width: 0 0 2px 2px;
  border-style: solid;
  transform:rotateZ(-135deg);
  position: absolute;
  right: 3rpx;
  top: 50%;
  margin-top: -9rpx;
}
.btn-submit,.btn-bind,.btn-binded{
  width: 344rpx;
  height: 72rpx;
  background-color: #ff5a3a;
  border: 2rpx solid #ffd100;
  border-radius: 36rpx;
  box-sizing: border-box;
  line-height: 68rpx;
  margin: 19rpx auto 0;
  font-size: 32rpx;
  color: #ffffff;
}
.btn-binded{
  width: 382rpx;
}
.advantage{
  margin-top: 64rpx;
  margin-bottom: 16rpx;
}
.ad-title{
  width: 602rpx;
  margin: 0 auto;
}
.ad-title image{
  width: 100%;
  height: 78rpx;
}
.ad-wrap{
  width: 598rpx;
  margin: 22rpx auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ad-item{
  width: 274rpx;
  /* height: 290rpx; */
  padding: 20rpx;
  box-sizing: border-box;
  background-color: #fff7d2;
  border-radius: 8rpx;
  text-align: center;
  margin-bottom: 32rpx;
}
.ad-icon-wrap{
  width: 134rpx;
  height: 134rpx;
  border-radius: 50%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red .ad-icon-wrap{
  background-color: rgba(255, 98, 121, 0.2);
}
.yellow .ad-icon-wrap{
  background-color: rgba(255, 212, 0, 0.2);
}
.green .ad-icon-wrap{
  background-color: rgba(67, 233, 201, 0.2);
}
.orange .ad-icon-wrap{
  background-color: rgba(255, 145, 47, 0.2);
}
.ad-icon{
  width: 99rpx;
  height: 99rpx;
  border-radius: 50%;
}
.red .ad-icon{
  background-color: rgba(255, 98, 121, 0.5);
}
.yellow .ad-icon{
  background-color: rgba(255, 212, 0, 0.5);
}
.green .ad-icon{
  background-color: rgba(67, 233, 201, 0.5);
}
.orange .ad-icon{
  background-color: rgba(255, 145, 47, 0.5);
}
.ad-icon image{
  width: 100%;
  height: 100%;
}
.item-title{
  font-size: 32rpx;
  line-height: 1.5;
  margin-top: 15rpx;
  color: #fe7a2b;
  margin-bottom: 4rpx;
}
.item-detail{
  font-size: 24rpx;
  color: #ffbf8e;
}
.step-bg{
  display: block;
  width: 100%;
  height: 886rpx;
}
.step-title-wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-title-wrap image{
  width: 50rpx;
  height: 50rpx;
  margin-right: 16rpx;
}
.step-title-wrap text{
  font-size: 50rpx;
  color: #ffffff;
}