.topLine{
  background-color:#09bb07;
  height:12rpx;
  border-radius: 12rpx;
  margin:36rpx 55rpx 0;
  padding-top:8rpx;
}
.bg-success{
  position:relative;
  background-color:#FFF;
  border:solid 1px #eee;
  margin:-10rpx 83rpx 0;  
  padding-bottom:45rpx; 
}
.bg-success::after{
  content: '';
  position: absolute;
  height: 10px;
  left:20rpx ; 
  right: 20rpx;
  bottom: -1px;
  overflow: hidden;
  background-color:transparent;
  background-image: radial-gradient(6px 5px ellipse at center bottom,#f8f8f8 0,#f8f8f8 5px,#eee 6px,#eee 6px, transparent 7px);
  background-size: 51rpx 100%;
}
.shadowBox{
  height:20rpx;
  background-image:-webkit-linear-gradient(top, #dadada, #fff);
  background-image:-moz-linear-gradient(top, #dadada, #fff);
  background-image:linear-gradient(top, #dadada, #fff);
}
.title-success{
  font-size:32rpx;
  color:#000;
  text-align: left;
  padding:30rpx 0 15rpx 35rpx;
  border-bottom:solid 1px #eee;
  margin:0 24rpx 24rpx;
}
.title-success::before{
  content:"●";
  position:absolute;
  margin-right:20rpx;
  color:#999;
  left:25rpx;
}
.content-list{
  display:flex;
  justify-content: space-between;
  color:#666;
  margin:0 24rpx;
  font-size:32rpx;
  line-height: 32rpx;
  padding:15rpx 0 15rpx 35rpx;
}
.realPay{
  border-top:solid 1px #eee;
  margin-top:10rpx;
  padding-top:25rpx;
}
.realPay .realPrice{
  font-weight: bold;
}
.payTitle{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.payTitle image{
  width:34rpx;
  height:34rpx;
  margin-bottom:-6rpx;
  margin-right:10rpx;
}
.payList{
  border-bottom:solid 1px #eee;
  padding-bottom:25rpx;
  margin-bottom:25rpx;
}
.paySigner{
  margin-left:20rpx;
  margin-top:15rpx;
}
.payView{
  background-color:#FFF;
  padding:30rpx;
}
.payType{
  padding:50rpx 30rpx 30rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payType .diyPaySort{
  font-size:28rpx;
  color:#999;
  padding-right:10rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.diyIcon{
  width:12rpx;
  height:12rpx;
  display:block;
  margin-top:8rpx;
  border:none;
  border-top:solid 2rpx #999;
  border-right:solid 2rpx #999;
  transform:rotate(45deg);
  margin-left:8rpx;

}
.proName{
  font-size:28rpx;
  margin-bottom:10rpx;
}
.proList{
  font-size:28rpx;
  color:#09bb07;
  margin-bottom:5rpx;
  margin-left:15rpx;
}
.wxPay{
  color:#999;
  font-size:28rpx;
}
.btnPlace{
  padding:15rpx 35rpx;
  background-color:#FFF;
  margin-top:20rpx;
  border-top:solid 1px #eee;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}
.btnPlace button{
  height:78rpx;
  line-height: 78rpx;
  background-color:#ffd300;
  color:#000;
  font-size:32rpx;
  border-radius: 78rpx;
}
