<!--p_coupons/pages/coupon/index.wxml-->
<wxs module="DateType" src="../../../filter/dateType.wxs"></wxs>
<view class="couponPage">
  <!-- <view class="couponHeader">现金/抵用券</view> -->
  <view class="couponSign" wx:for="{{myCoupons}}" wx:key="{{item.CouponId}}">
    <view class="couponCost">
      <view wx:if="{{item.CouponType == 4}}" class="zhe">{{item.CouponPrice*10}}</view>
      <view wx:else class="price">{{item.CouponPrice}}</view>
      
      <view>{{item.CouponType == 1?'现金券':item.CouponType == 2?'体验券':item.CouponType == 3?'礼品券':item.CouponType == 4?'折扣券':'特价券'}}</view>
    </view>
    <view class="couponInfo">
      <view class="couponTitle">{{item.StoreName}}{{item.CouponTitle}}</view>
      <view class="couponEndDate">有效期至：{{DateType.getDateTime(item.EndDate)}}</view>
      <text class="couponRule">适用服务：{{item.ServiceName}}</text>
    </view>
    <view class="options">

	<button wx:if="{{item.CouponStatus == -1}}" class="btn-use noUse">已过期</button>
	<button wx:elif="{{item.CouponStatus == 1}}" class="btn-use noUse">已使用</button>
      <button wx:else class="btn-use" form-type='submit'>可以使用</button>
    </view>
  </view>
</view>

