/* pages/chooseCity/index.wxss */
.search-city{
  padding:15rpx 35rpx;
  background-color:#FFF;
}
.search-city input{
  background:#fafafa;
  font-size:28rpx;
  height:28rpx;line-height: 28rpx;
  padding:15rpx 68rpx;
  border:solid 1px #eee;
  border-radius: 34rpx;
}
.locaCity{
  color:#f9434d;
}
.groupTitle{
  background-color:#f6f6f6;
  height:60rpx;
  line-height: 60rpx;
  color:#bbbbbb;
  padding:0 25rpx;
  font-size:28rpx;
}
.cityGroup{
  background-color:#FFF;
  padding:15rpx 45rpx 15rpx 15rpx;
  font-size:32rpx;
  color:#666;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:left;
}
.cityGroup text{
  box-sizing: border-box;
  display:inline-block;
  text-align:center;
  padding:15rpx 0;
  margin:10rpx 10rpx;
  width: calc(25% - 20rpx);
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}
.wordCity{
  width:50rpx;
  position:fixed;
  right:30rpx;
  top:98rpx;
}
.wordCity text,.wordCity navigator{
  display:block;
  width:50rpx;height:50rpx;
  text-align: center;line-height: 50rpx;
  font-size:28rpx;
  margin:5rpx 0;
}