.scroll-view_H{
  white-space: nowrap;
  background:#f8f8f8;
}
.scroll-view-item{
  height: 300rpx;
}
.scroll-view-item_H{
  display: inline-block;
  width:20%;
  padding:38rpx 0 34rpx;
  border-top:solid 1px #eee;
}
.scroll-view-item_H:last-child{
  margin-right:0;
}
.scroll-view-item_H text{
  display: block;
  text-align: center;
}
.scroll-view-item_H .order-date{
  font-size:24rpx;
  color:#bdbdbd;
  margin-top:5rpx;
}
.dateAction{
  background-color:#ffd100;
  color:#000;
}
.dateAction .order-date{
  color:#000;
}
.module {
  background-color:#FFF;
  padding:28rpx 15rpx 20rpx;
  overflow: hidden;
  width:100%;
  border-bottom:solid 1px #eee;
  border-top:solid 1px #eee;
  box-sizing: border-box;
}
.timeList,.serverList {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:left; 
}
.timeList button,.serverList text {
  box-sizing: border-box;
  font-size:28rpx;
  margin:0 10rpx 20rpx;
  width: calc(25% - 20rpx);
  height:66rpx;
  line-height: 64rpx;text-align: center;
  border:solid 1px #ddd;
  border-radius: 10rpx;
}
.timeList .timeaciton,.serverList .action{
  background-color:#ffd100;
  border:solid 1px #ffd100;
}
.chooseServer,.technician{  
  margin-top:25rpx;
}
.technician{
  padding-bottom:98rpx;
}
.title{
  display: block;
  font-size:34rpx;
  margin:0 15rpx 25rpx;
}
.technicianList .singer{
  border: solid 1px #eee;
  overflow:hidden;
  padding:20rpx 30rpx;
  margin-bottom:30rpx;
  position:relative;
  border-radius:20rpx;

}
.technicianList{
  margin:0 15rpx;
}
.technicianList .image-wrap{
  width:110rpx;
  height:110rpx;
  float:left;
  border-radius: 50%;overflow: hidden;
}
.image-wrap image{
  height: 100%;
}
.technician-name {
  font-size:32rpx;
  margin-right:20rpx;
}
.techni-info{
  margin-left:140rpx;
}
.postShow {
  color:#fa4b57;
  font-size:24rpx;
  margin-top:10rpx;
}
.cost{
  font-size:36rpx;
}
.costType {
  color:#999;font-size:28rpx;
}
.costChage{
  font-size:26rpx;
  margin-right:30rpx;
  color:#999;
}
.leave{
  font-size:24rpx;
	color:#999;
}
.noChoose{
  margin:0 15rpx 25rpx 15rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.noChoose text{
  font-size:32rpx;
  color:#666;
}

.btn-order{
  height:46rpx;
	line-height:43rpx;
	position:absolute;
	background-color:transparent;
	border-radius:48rpx;
	color:#ff536d;
	border:solid 1px #ff536d;
	right:30rpx;
	padding:0 30rpx;
	float:right;
	top:115rpx;
	font-size:24rpx;
}
.btn-orderFree{
	background-color:transparent;

	color:#666;
	border:none;

}

.Acation{
  color:#09bb07;
  border:solid 1px #09bb07;
}
.appoint{
	float:right;
	font-size:24rpx;
	color:#999;
	margin-top:7rpx;
}