.defSort{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:30rpx 25rpx;
  margin-top:25rpx;
}
.switchTitle{
  font-size:32rpx;
}
.switchTitle text{
  font-size:26rpx;
  color:#999;
}
.diySort{
  padding:0 25rpx;
}
.diyTitle{
  font-size:28rpx;
  color:#999;
}
.PayList{
  display:flex;
  height:58rpx;
  justify-content: space-between;
  align-items: center;
  padding:25rpx 0;
  border-top:solid 1px #eee;
}
.btn_Sort{
  width:50rpx;
  height:50rpx;
  margin:0 35rpx;
  padding:0;
  line-height:50rpx;

  background:none;
}
.notMove{
  opacity: 0.5
}
.btn_grounp{
  display:flex;
  align-items: center;
}
.btn_grounp text{
  display: block;
  padding:0;
  line-height:1;
  font-size:28rpx;
  width:58rpx;
  margin:0 30rpx;
}