.detailBox{
  padding-bottom:108rpx;
}
.topInfo{
  display:flex;
  background-color:#FFF;
  padding:20rpx 0 20rpx 20rpx;
  border-top:solid 1px #eee;
  border-bottom:solid 1px #eee;
  margin-bottom:20rpx;
}
.topInfo image{
  width:120rpx;
  height:120rpx;
}
.seller-name{
  font-size:32rpx;
}
.seller-status{
  font-size:24rpx;
  color:#09bb07;
  position:absolute;
  bottom:0;
  left:0;
}
.seller{
  margin:10rpx 30rpx;
  position:relative;
  flex:auto;
}
.call{
  padding:35rpx 35rpx;
  border-left:solid 1px #eee;
}
.topInfo .call-phone{
  width:51rpx;
  height:51rpx;
}
.infoMsg{
  background-color:#fff;
  font-size:28rpx;
  padding:25rpx 30rpx 25rpx 20rpx;
  border-bottom:solid 1px #eee;
  color:#999;
}
.more{
  float:right;
}
.more::after{
  content:"";
  display: inline-block;
  margin-bottom:-2rpx;
  margin-left:18rpx;
  width:20rpx;
  height:20rpx;
  background-color:transparent;
  border-top:solid 2px #ccc;
  border-right:solid 2px #ccc;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
}
.module{
  background-color:#fff;
  border-top:solid 1px #eee;
  border-bottom:solid 1px #eee;
  font-size:28rpx;
}
.module .titlle{
  border-bottom:solid 1px #eee;
  padding:25rpx 20rpx;
  height:34rpx;
  line-height: 34rpx;
}
.titlle image{
  width:34rpx;
  height:34rpx;
  vertical-align: middle;
  margin-right:14rpx;
  margin-top:-2rpx;
}
.module .item-list{
  color:#666;
  padding:15rpx 40rpx 15rpx 65rpx;
}
.item-list .item{
  padding:15rpx 0;
}
.item .cost{
  float:right;
  display: inline-block;
  margin-top:2rpx;
}
.totleNum {
  height:38rpx;
  line-height: 38rpx;
  padding:30rpx 40rpx 30rpx 65rpx;
  border-top:solid 1px #eee;
}
.totleNum .cost{
  float:right;
}
.btnPlace{
  padding:15rpx 35rpx;
  background-color:#FFF;
  margin-top:20rpx;
  border-top:solid 1px #eee;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}
.btnPlace button{
  height:78rpx;
  line-height: 78rpx;
  background-color:#09bb07;
  color:#FFF;
  font-size:32rpx;
  border-radius: 78rpx;
}