/* tab选项卡公共样式 */
.tabs{
  height:96rpx;
  background-color:#FFF;
  display: flex;
  border-bottom:solid 1px #eee;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 5;
}

.tab-item{
  flex:1;
  text-align: center;
  height:96rpx;
  line-height: 96rpx;
}
.tab-item text{
  display:inline-block;
  height:96rpx;
  box-sizing: border-box;
}
.active text{
  border-bottom:solid 2px #ffd100;
}
.listContent{
  position: absolute;
  top:96rpx;
  box-sizing: border-box;
  width:100%;
  z-index: 0;
}