<view class="main">
  <image mode="widthFix" class="successIco" src="../images/success.png"></image>
  <view class="sucTitle"><icon type="success_no_circle" size='22'></icon><text>评论成功</text> </view>
  <view class="sucText">快去斗秀场和其他秀友PK一下吧！</view>
  <view bindtap="toShowPlace" class="btn_toShow">
    <text>秀一波</text><image class="ico_go" src="../images/ico_go.gif"></image>
  </view>
  <!-- <view class="showPhoto">
    <view class="showContent">立马拍照 Show 一波</view>
    <view bindtap="getPhoto" class="ico_photo"><image mode="widthFix" src="/pages/imgs/showIcon/btn_show.png"></image></view>
  </view> -->
</view>
