<view class="cover">
  <image wx:if="{{userBaseInfo.affix.length>0}}" mode="aspectFill" src="{{userBaseInfo.affix[0].Affix}}"></image>
  <image wx:else mode="widthFix" style="width:90%" src="https://www.mmcmy.com/commonimg/ADImage/commen/cover-init.png"></image>
  <view class='btn-share'>
    <button class="userShare" open-type='share'><image src="/pages/imgs/showIcon/share-w.png"></image></button>
  </view>
</view>
<view class="userBox">
  <view class="userInfo">
    <view class="userImgUrl">
      <image mode="widthFix"  bindtap="toUserHome" data-cId="{{item.CustomerId}}" lazy-load='true' class="userHeader" src="{{userBaseInfo.customer.imagUrl}}"></image>
      <image wx:if="{{userBaseInfo.customer.Gender}}" class="userSex" src="{{userBaseInfo.customer.Gender == 1?'/pages/imgs/showIcon/male@3x.png':'/pages/imgs/showIcon/female@3x.png'}}"></image>
      </view>
    <view>
      <view class="userName">
        <text>{{userBaseInfo.customer.NickName}}</text>
        </view>
      <view class="userLgTime">最近登陆：{{userBaseInfo.cute.LastLoginTime}}</view>
    </view>
    <view wx:if="{{myCustomerId != userBaseInfo.customer.CustomerId}}" bindtap="getAttention" data-id="{{userBaseInfo.customer.CustomerId}}" class="userFollow {{userBaseInfo.customer.IsLike?'followAction':''}}">{{userBaseInfo.customer.IsLike?'取消关注':'关注Ta'}}</view>
  </view>
  <view class="userData">
    <view>
      <text>{{userBaseInfo.customer.AttentionCount}} 粉丝</text> | <text>{{userBaseInfo.cute.SiteViewCount}} 次浏览</text>
    </view>
  </view>
   <view class="userDocument">
      <view class="docList">
        <text>年龄</text><text class="docValue">{{userBaseInfo.customer.YearOld}}</text>
      </view>
      <view class="docList">
        <text>星座</text><text class="docValue">{{userBaseInfo.customer.constellation?userBaseInfo.customer.constellation:"--"}}</text>
      </view>
      <view class="docList">
        <text>婚恋</text><text class="docValue">{{userBaseInfo.customer.Marriage?userBaseInfo.customer.Marriage:"--"}}</text>
      </view>
      <view class="docList">
        <text>所在地</text><text class="docValue">{{userBaseInfo.customer.City}}</text>
      </view>
    </view>
  <view class="userSign">
    <view class="docTitle">个性签名</view>
    <text>{{userBaseInfo.customer.MyTitle?userBaseInfo.customer.MyTitle:'这人很懒，什么也没留下...'}}</text>
  </view>
    <navigator wx:if="{{myCustomerId == userBaseInfo.customer.CustomerId}}" class="updateUserInfo" url='/p_perfectInformation/pages/perfectInformation/index'>
        <image mode='widthFix' src="/pages/imgs/showIcon/edit.png"></image>
      </navigator>
</view>
<view>
  <!-- 帖子详情  -->
  <view class="moduleShow">
    <view class="userShow {{item.isTouchMove ? 'touch-move-active' : ''}}" catchlongtap="longTap" data-pId="{{item.PhotosId}}" wx:for="{{photoList}}" wx:key="{{index}}" bindtouchstart="touchstart" bindtouchend="touchend">
      <!-- 内容 -->
      <view class="showContent">
        <navigator>
          <image mode="widthFix" class="userHeard" src="{{item.imagUrl}}"></image>
          <view class="userDynamic">
            <text class="userName">{{item.NickName}}</text>
            <view class="signInfo">
              <text>{{item.PhotoDateTime}}</text>
              <text>{{item.CollectCount}} 人浏览</text></view>
              
                
          </view>
        </navigator>
        <view bindtap="getToInfo" data-photoid="{{item.PhotosId}}" class="userContent">{{item.Description}}</view> 
        
        <!-- 自拍展示区 -->
        <view data-pId="{{item.PhotosId}}" class="PicModule {{item.PhotoAffixs.length == 4?'picNum':''}}">
          <navigator bindtap="showPhoto" data-photoList="{{item.PhotoAffixs}}" data-path="{{up.PhotoPath}}" wx:for="{{item.PhotoAffixs}}" wx:for-item="up" wx:key="{{upIndex}}" class="userPic {{item.PhotoAffixs.length == 4?'userPicNum':''}}">
            <image mode="aspectFill" src="{{up.PhotoPath_mini}}"></image>
          </navigator>
        </view>
        <view class="showFunction">  
          <view>
            <image wx:if="{{item.OrderInfo.StoreName}}" class="showIcon" mode="widthFix" src="/pages/imgs/ico-showDb.png"></image><text class="serverName">{{item.OrderInfo.StoreName}}</text>
          </view>
          <view class="hd">
            <view bindtap="getLike" data-index="{{index}}" data-pid="{{item.PhotosId}}" class="zan">
              <image src="{{item.IsLike?'/pages/imgs/showIcon/icon-loved.png':'/pages/imgs/showIcon/icon-love.png'}}"></image><text>{{item.LikesCount}}</text>
            </view>  
            <view class="userSpeak" bindtap="getToInfo" data-photoid="{{item.PhotosId}}"><image mode="widthFix" src="/pages/imgs/showIcon/send@3x.png"></image>{{item.CommentCount}}</view>
          </view>
        </view>
      </view>
            <!-- 删除按钮 -->
      <view class="delIconWrap" catchtap="longTap" data-pId="{{item.PhotosId}}">
        <view class="delIcon">
          <image src='../images/icon-del.png'></image>
        </view>
      </view>
    </view>
  </view>
</view>
