<wxs module="dateType" src="../../../filter/dateType.wxs"></wxs>
<wxs module="arrayData" src="../../../filter/arrayData.wxs"></wxs>
<wxs module="getCard" src="../../../filter/getCard.wxs"></wxs>
<!-- 会员卡详情 -->
<view class="card">
  <view bindtap="showDetail" class="cardBox saveCard">
    <image class="storeLogo" src="{{cardBaseInfo.StoreCardIcom}}"></image>
    <view class="cardInfo">
      <view class="storeName">{{cardBaseInfo.StoreName}}</view>
      <view class="carNumber">{{cardBaseInfo.MemberCardNo}}</view>
      <view class="balance">总余额:￥<text>{{cardBaseInfo.BaseMoney?cardBaseInfo.BaseMoney:0}}</text></view>
      <view class="useTime">激活日期：{{cardBaseInfo.ApplyCardDateTime}}</view>
    </view>
    <image mode="widthFix" class="logoMark" src="https://www.mmcmy.com/commonimg/ADImage/commen/mmc.png"></image>
  </view>
</view>
<!-- 会员卡明细 -->
<view>
  <!-- tab选项卡 -->
  <view class="tabs">
    <view wx:for="{{tabs}}" wx:key="{{index}}" bindtap="tabChange" data-index="{{index}}" class="tab-item {{index==tabIndex?'active':''}}">
      <text>{{item}}</text>
    </view>
  </view>

  <!-- 明细 -->
    <!-- 储值金 -->
  <view wx:if="{{tabIndex == 0}}" class="box">
    <view class="save" wx:for="{{cardInfo.Account1}}" wx:key="{{index}}">
      <view class="title">卡{{index+1}}金额</view>
      <view class="cost">
        <text>{{item.BalanceAmount}}</text>
      </view>
      <!-- <view class="title">享受折扣</view> -->
      <view class="preferential">
        <text wx:if="{{dis.Discount<1}}" wx:for="{{item.ServiceDiscount}}" wx:for-item="dis" wx:key="AccountId">{{dis.ProjectName}}{{dis.Discount*10}}折</text>
      </view>
    </view> 
  </view>

    <!-- 赠送金 -->
  <view wx:elif="{{tabIndex == 1}}" class="box">
    <view class="send" wx:for="{{cardInfo.Account2}}" wx:key="{{index}}">
      <view class="title">余额</view>
      <view class="cost">
        <text>{{item.BalanceAmount}}</text>
      </view>
      <view wx:if="{{item.ServiceDiscount.length > 0}}" class="preferential">
        <text wx:if="{{dis.Discount<1}}" wx:for="{{item.ServiceDiscount}}" wx:for-item="dis" wx:key="AccountId">{{dis.ProjectName}}{{dis.Discount*10}}折</text>
      </view>
      <text wx:else class="preferential">*暂无可享受的优惠</text>
    </view> 
  </view>

  <!-- other -->
  <view wx:else class="other">
    <view class="havenot">
      <!-- <view class="title">已拥有</view> -->
      <view class="otherCard y-card" wx:for="{{cardInfo.Account3}}" wx:key="{{index}}">
        <view class="info">
          <view class="sellHistory">
            <view class="cardType">
              {{getCard.getCardType(item.CardCycle)}}
              <text class="cardSell">( 已消费：{{item.SurplusServiceTimes}} 次 )</text>
            </view>
            <view class="money"><text class="num">{{item.ServiceTimes > 0?item.ServiceTimes+'次':'不限次数'}}</text></view>
          </view>
          <view class="joinService">
            适用服务：<text>{{item.ForProject == '0'?'所有服务':arrayData.getArrayToString(item.Project)}}</text>
          </view>
          <!-- <view class="explain">有效期：{{dateType.getDate(item.BeginDate)}} 至 {{dateType.getDate(item.EndDate)}}</view> -->
        </view>
        <view class="option">
          <text class="btn-payAgin">有效期：{{dateType.getDate(item.BeginDate)}} 至 {{dateType.getDate(item.EndDate)}}</text>
        </view>
      </view>
    </view>
  </view>

  <view wx:if="{{tabIndex != 1}}" class="pay-box">
    <text bindtap="backHome" class="nav-button backHome">回到首页</text>  <text bindtap="getRecharge" class="nav-button btn-pay">{{tabIndex == 0?"优惠充值":"立即购买"}}</text>
  </view>
</view>