page{
  background-color:#f0f0f0
}
.showActive{
  opacity:1;
}

.userShow{
  overflow: hidden;
  background:#FFF;
  padding:25rpx;
}

.userDynamic{
  font-size:32rpx;
  margin-left:100rpx;
}
.userDynamic .userName{
  color:#666;
}
.userTags{
  margin-top:20rpx;
  font-size:28rpx;
}
.userTags text{
  height:30px;
  border-radius: 15px;
  padding:4rpx 20rpx;
  margin-right:10rpx;
}
.userTags .tRed{
  background:#ffece8;
  color:#ff7a5a;
}
.userTags .tBlue{
  background:#e1f5f8;
  color:#38becd;
}
.userTags .tGreen {
  background:#e1f5ed;
  color:#2bbb80;
}
.showOrderInfo{
  display: inline-block;
}
.showFunction{
  display:inline-flex;
  justify-content: start;
  align-items: center;
  background-color:#fafafa;
  border:solid 1px #eee;
  border-radius:8rpx;
  color:#999;
  padding:10rpx 20rpx;
  font-size:25rpx;
  min-width:50rpx;
}
.showFunction text{
  margin-left:10rpx;
  display: block;
}
.showFunction image{
  width:50rpx;
}
.showFunction .showIcon{
  width:25rpx;
  height:25rpx;
  margin-bottom:-2rpx;
}
.countGroup{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:50rpx;
}
.CollectCount{
  font-size:25rpx;
  color:#999;
}
.shopName{
  color:#999;
  font-size:28rpx;
}
.hd{
  display: flex;
  font-size:25rpx;
}
.hd .userZan,.hd .userSpeak{
  display:flex;
  justify-content: start;
  align-items: center;
  margin-left:30rpx;
}
.hd image{
  width:38rpx;
  height:38rpx;
  margin-right:10rpx;
}
.moduleShow{
  margin-bottom:30rpx;
}
.showPic{
  position:fixed;
  bottom:125rpx;right:30rpx;
  width:100rpx;
  text-align: center;
  height:100rpx;
  line-height: 90rpx;
  border-radius:100%;
  background-color:rgba(253,94,123,1);
  box-shadow:0px 5rpx 10rpx rgba(0,0,0,0.2);
  z-index: 2;
}
.showPic image{
  width:52rpx;
  height:52rpx;
  vertical-align: middle;
}
.userZan text{
  display: block;
}
.userSpeak{
  margin-right:10rpx;
}
.sendTime{
  font-size:24rpx;
  color:#999;
  margin-top:8rpx;
}
.scroll-view{
  position:absolute;
  top:0rpx;
  left:0;
  right:0;
  bottom:0;
}
.newphoto{
  position:relative;
}
.newphoto::after{
  content:"";
  display: block;
  position:absolute;
  width:20rpx;
  height:20rpx;
  border-radius: 20rpx;
  top:15rpx;
  right:-10rpx;
  background:red;
}
.loading{
  font-size:30rpx;
  text-align:center;
  background:#fff;
  color:#999;
}
.loading image{
  width:100rpx;
  vertical-align: middle;
}

/* 瀑布流新样式 */
.showContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 6rpx;
  box-sizing: border-box;
}
.showItemWrap{
  flex: 1;
  padding: 0 8rpx;
  box-sizing: border-box;
}
.showItem{
  background-color: #fff;
  border-radius: 12rpx;
  margin: 15rpx 0; 
  /* box-shadow:0px 0px 16rpx #ccc; */
}
.coverImgWrap{
  max-height: 400rpx;
  border-radius: 12rpx 12rpx 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  position:relative;
}
.photoNumber{
  position:absolute;
  bottom:0;
  font-size:24rpx;
  height:60rpx;
  line-height: 48rpx;
  left:0;
  right:0;
  padding:0 10rpx;
  color:#f8f8f8;
  text-align: right;
  background: linear-gradient(transparent,rgba(0,0,0,0.6));
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.photoNumber image{
  width:32rpx;
  height:32rpx;
  margin-right:2rpx;
}
.coverImg{
  display: block;
  border-radius: 12rpx 12rpx 0 0;
}
.showContent{
  width: 100%;
  padding: 14rpx 20rpx;
  line-height: 1.5;
  font-size: 28rpx;
  box-sizing: border-box;
  text-align: left;
}
.showContent>view{
   text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.storeInfo{
  display: inline-block;
  max-width: 305rpx;
  height: 50rpx;
  line-height: 48rpx;
  /* border: 1rpx solid #eeeeee; */
  border-radius: 4rpx;
  padding: 0 15rpx 0 45rpx;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0;
  color: #999999;
  margin: 20rpx 20rpx 10rpx;
  /* background-color: #fafafa; */
  position: relative;
}
.storeInfo text{
    font-size: 20rpx;
}
.showIcon{
  width: 25rpx;
  height: 25rpx;
  position: absolute;
  top: 10rpx;
  left: 15rpx;
}
.showInfoWrap{
  padding: 18rpx 20rpx;
  display: flex;
  justify-content: space-between;
}
.userInfo{
  display: flex;
  align-items: center;
  color: #999999;
}
.userImgUrl{
  width: 50rpx;
  height: 50rpx;
  float: unset;
}
.userHeard{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.userSex{
  width: 14rpx;
  height: 14rpx;
  bottom: 0;
  right: 0;
}
.userNameText{
  font-size: 24rpx;
  margin-left: 14rpx;
}
.likeWrap{
  display: flex;
  align-items: center;
}
.likeImg{
  width: 30rpx;
  height: 28rpx;
  margin-right: 10rpx;
}
.likeCount{
  font-size: 24rpx
}