page{
  background-color:#f8f8f8;
}
.title{
  height:84rpx;
  line-height: 84rpx;
  color:#999;
  padding:0 30rpx;
  border-top:solid 1px #eee;
  border-bottom:solid 1px #eee;
}
.feedArea{
  background-color:#fff;
  width:100%;
  padding:25rpx 30rpx;
  height:336rpx;
}

.btn-submit{
  background-color:#ffd100;
  height:80rpx;
  line-height: 80rpx;
  font-size:34rpx;
  margin:48rpx 55rpx 0;
  border-radius: 80rpx;
}
.radioItem,.OtherItem{
  background-color:#fff;
  height:98rpx;
  line-height: 98rpx;
  padding:0 30rpx;
  border-bottom:solid 1px #eee;
  color:#999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemAction icon{
  height:48rpx;
}
.Other{
  border-bottom:solid 1px #eee;
  background-color:#fff;
  padding:0 30rpx;
  
}
.OtherItem{
  border-bottom:none;
  padding:0;
}
.otherArea{
  height:158rpx;
  box-sizing: border-box;
  background:#fafafa;
  border:solid 1px #eee;
  width:100%;
  margin-bottom:30rpx;
  padding:10rpx;
}
.itemAction{
  color:#212121;
}