<wxs module="arrayData" src="../../../filter/arrayData.wxs"></wxs>
<!-- 充值页面 -->
<view class="bg-money">
  <image mode="aspectFill" class="bg-user" src="/pages/imgs/bg-money.png"></image>
  <view class="userInfo">
    <open-data class="userHeader" type="userAvatarUrl"></open-data>
    <view class="info">
      <view class="userNickName">
        <open-data type="userNickName"></open-data>
      </view>
      <view class="userCard">当前卡内余额：￥ <text>{{BaseMoney}}</text> </view>
    </view>
  </view>
</view>
<!-- tab切组件 -->
<tabs tabs="{{tabs}}" my-tabs="myTabs" tabIndex="{{tabIndex}}"  bind:changeTabs="_changeTabs"></tabs>

<!-- 余额充值 -->
<view wx:if="{{tabIndex == 0}}" class="moneyList">
  <view wx:for="{{StoreDiscount}}" wx:key="{{index}}" data-index="{{index}}" data-id="{{item.DisCountId}}" bindtap='checkPrice' data-price='{{item.PayMoney}}' class="money {{disIndex== index?'action':''}}">
    <view class="denomination">{{item.PayMoney}}元</view>
    <view class="sellPay">赠送 {{item.GiveMoney}}元</view>
    <view class="serverType">
      <view wx:if="{{arr.Discount < 1}}" wx:for="{{item.Arr_GetDiscount}}" wx:key="{{proIndex}}" wx:for-item="arr" wx:for-index="proIndex">{{arr.ProName}}<text>{{arr.Discount*10}}</text>折</view>
    </view>
  </view>
</view>

<!-- 卡内充值 -->
<view wx:else class="moneyList">
  <view class="card {{cardIndex== index?'action':''}}" data-index="{{index}}" data-id="{{item.CycleCardId}}" bindtap='checkCard' data-name='{{item.CardCycleName}}' data-price='{{item.CardPrice}}' wx:for="{{StoreCard}}" wx:key="{{index}}">
    <text class="concession">优惠文案</text>
    <view class="card-name">{{item.CardCycleName}}</view>
    <view class="card-type">{{item.ServiceTimes > 0?item.ServiceTimes+'次':'不限次数'}}</view>
    <view class="card-other">
      <text class="card-text">{{item.ForProject == '0'?'所有服务':arrayData.getArrayToString(item.ProjectNames)}}</text>
      <view class="card-cost">
        <text>￥</text><text class="cost-number">{{item.CardPrice}}</text>
      </view>
    </view>
  </view>
</view>

<view class="btn-submit">
  <button bindtap='paySubmit' class="sumitPayment">立即预约{{tabIndex == 0?"充值":"购买"}}</button>
</view>

